---
---

$webbox-color: #234D98;
.webbox {
  color: #666;
  strong {
    color: black;
  }
  .masthead {
    background-color: $webbox-color;
  }
  .container {
    a {
      color: $webbox-color;
      &:hover {
        color: lighten($webbox-color, 20);
      }
    }
  }
  .post-date {
    font-size: .8em;
    a {
      color: inherit;
    }
  }
  .tags {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    li {
      padding: 0;
      display: inline;
      float: left;
      &:after {
        content: '\2219';
        margin: {
          left: .5em;
          right: .5em;
        }
      }
      &:last-child:after {
        content: '';
      }
    }
  }
  .post {
    h1 {
      color: $webbox-color;
    }
  }
  .related {
    h2 {
      color: lighten($webbox-color, 30);
    }
  }
  .related-posts {
    small {
      display: block;
      font-size: .6em;
    }
    p {
      margin: 0 0 2em 0;
    }
  }
  
  .tag-index {
    h1 {
      color: lighten($webbox-color, 20);
    }
  }
  
  @media (max-width: 580px){
    h1 {
      font-size: 1.5em;
    }
    h2 {
      font-size: 1.7em;
    }
  }
}
