.theme-webbox .masthead {
  background-color: #234D98;
}
.theme-webbox .container a,
.theme-webbox .related-posts li a:hover {
  color: #456fba;
}

.theme-webbox .post-date a {
    font-size: .8em;
}

.theme-webbox .post h1 {
    color: #456fba;
}
.theme-webbox .related h2 {
    color: #6782dc;
}

.theme-webbox .related-posts small {
    display: block;
}

.tag-index h1 {
    color: #6782dc;
}

ul.tags {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.tags li {
    padding: 0;
    display: inline;
    float: left;
}
ul.tags li:after {
    content: '\2219';
    margin-left: .5em;
    margin-right: .5em;
}
ul.tags li:last-child:after {
    content: '';
}

@media (min-width: 990px) {
  .post {
    margin-bottom: 150px;
  }
}
